h1{
	margin-top: 20px;
	text-align: center;
}

.login-form{
	display: flex;
  flex-direction: column;
  align-items: center;
}

.password{
	margin: 0
}

.login-btn{
	margin-top: 20px;
}

.sign-up-link{
	text-align: center;
	margin-top: 10px;
}
